.btn {
  background-color: $primary-color;

  &__intro {
    font-size: 1.6rem;
    color: $text-color-light;
    border-bottom: 2px solid darken($primary-color, 10%);
    width: 8rem;

    &:hover {
      background-color: lighten($primary-color, 10%);
      transition: background-color 2s ease-out;
      transform: scale(1.1);
      color: $text-color-light;

    }
  }
}