.filter {
  background: #fff;
  border-radius: $border-radius;
  margin: 0 0 3rem;
  padding: 1.6rem 0;
  font-size: 1.4rem;
  box-shadow: 0 2px 12px $box-shadow-color;

  &__team {
    .dc-select-menu {
      width: 100%;
      border-color: $accent-color;
      position: relative;
      font-size: 1.4rem;
      color: $text-color-dark;
      padding: .4rem .6rem;
    }
  }

  &__matches, &__points {
    background: $primary-color;
    position: relative;
    color: $text-color-light;
    text-align: center;
    padding: 1.2rem 0;
    border-radius: $border-radius;
  }

  &__title {
    font-size: 1.6rem;

    &--light {
      color: $text-color-light;
    }

    &--dark {
      color: $text-color-dark;
    }
  }

  a {
    color: $primary-color;
  }
}